.locations {
    width: 25%;
    height: 100%;
    border-right:1px solid #DDDDDD;
    margin-left: 30px;
}
.amenities {
    width: 25%;
    height: 100%;
    margin-left: 30px;
}
.locations, .amenities h3 {
    font-weight: 600;
}
.locations .amenities h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
}